<h2>Welcome!</h2>

<form action="/contacts" method="POST" role="form">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Ел.почта@</span>
  </div>
  <input name="contact_email" type="text" class="form-control" placeholder="email" aria-label="Имя пользователя" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Сообщение</span>
  </div>
  <textarea name="message" class="form-control" aria-label="With textarea"></textarea>
</div>

<button type="submit" class="btn btn-info">Отправить</button>

</form>
